p, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  padding: 8px 0;
}

.navbar .navbar-left {
  margin-left: 10px;
}

.navbar .navbar-right {
  margin-right: 10px;
}

.navbar .navbar-icon {
  font-size: 25px;
  color: white;
  padding: 8px 0;
}
