<nav class="navbar">
  <div class="navbar-left">
      <a routerLink="/establishment"><i class="fas fa-chevron-left navbar-icon"></i></a>
  </div>

  <label class="navbar-brand text-white">Cadastrar estabelecimento</label>

  <div class="navbar-right" >

  </div>
</nav>

<form [formGroup]="establishmentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="name" class="text-white form-label">Nome:</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Digite o nome">
      <div *ngIf="establishmentForm.get('name')?.invalid && establishmentForm.get('name')?.touched" class="text-danger">
          Nome é obrigatório.
      </div>
  </div>
  <div class="form-group">
      <label class="text-white form-label" for="cpfCnpj">CPF/CNPJ:</label>
      <input type="text" class="form-control" id="cpfCnpj" formControlName="cpfCnpj" placeholder="Digite o CPF ou CNPJ">
      <div *ngIf="establishmentForm.get('cpfCnpj')?.invalid && establishmentForm.get('cpfCnpj')?.touched" class="text-danger">
          Por favor, digite um CPF ou CNPJ válido (11 dígitos).
      </div>
  </div>
  <div class="form-group">
      <label class="text-white form-label" for="description">Descrição:</label>
      <textarea class="form-control" id="description" formControlName="description" placeholder="Digite a descrição"></textarea>
      <div *ngIf="establishmentForm.get('description')?.invalid && establishmentForm.get('description')?.touched" class="text-danger">
          Descrição é obrigatória.
      </div>
  </div>
  <div class="form-group">
      <label class="text-white form-label" for="phone">Telefone:</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Digite o número de telefone">
      <div *ngIf="establishmentForm.get('phone')?.invalid && establishmentForm.get('phone')?.touched" class="text-danger">
          Por favor, digite um número de telefone válido (10 dígitos).
      </div>
  </div>
  <div class="form-group">
      <label class="text-white form-label" for="serviceType">Tipo de Serviço:</label>
      <input type="text" class="form-control" id="serviceType" formControlName="serviceType" placeholder="Digite o tipo de serviço">
      <div *ngIf="establishmentForm.get('serviceType')?.invalid && establishmentForm.get('serviceType')?.touched" class="text-danger">
          Tipo de serviço é obrigatório.
      </div>
  </div>

  <label class="file mt-4">
    <input class="text-white form-label" type="file" id="file" accept="image/*" (change)="handleInputChange($event)">
    <span class="file-custom">{{ imageName }}</span>
  </label>

  <hr style="color: white;">
  <h3>Endereço</h3>
  <div class="form-group">
    <label class="text-white form-label" for="zipCode">CEP:</label>
    <input type="text" class="form-control" id="zipCode" formControlName="zipCode" placeholder="Digite o CEP" required pattern="\d{8}">
    <div *ngIf="establishmentForm.get('zipCode')?.invalid && establishmentForm.get('zipCode')?.touched" class="text-danger">
      O CEP é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label class="text-white form-label" for="street">Rua:</label>
    <input type="text" class="form-control" id="street" formControlName="street" placeholder="Digite o nome da Rua" required>
    <div *ngIf="establishmentForm.get('street')?.invalid && establishmentForm.get('street')?.touched" class="text-danger">
      O nome da rua é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label class="text-white form-label" for="number">Número:</label>
    <input type="text" class="form-control" id="number" formControlName="number" placeholder="Digite o número" required>
    <div *ngIf="establishmentForm.get('number')?.invalid && establishmentForm.get('number')?.touched" class="text-danger">
      O número é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label class="text-white form-label" for="complement">Complemento:</label>
    <input type="text" class="form-control" id="complement" formControlName="complement" placeholder="Digite o complemento">
  </div>
  <div class="form-group">
    <label class="text-white form-label" for="neighborhood">Bairro:</label>
    <input type="text" class="form-control" id="neighborhood" formControlName="neighborhood" placeholder="Digite o Bairro" required>
    <div *ngIf="establishmentForm.get('neighborhood')?.invalid && establishmentForm.get('neighborhood')?.touched" class="text-danger">
      O bairro é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label class="text-white form-label" for="city">Cidade:</label>
    <input type="text" class="form-control" id="city" formControlName="city" placeholder="Digite a cidade" required>
    <div *ngIf="establishmentForm.get('city')?.invalid && establishmentForm.get('city')?.touched" class="text-danger">
      A cidade é obrigatória.
    </div>
  </div>
  <div class="form-group">
    <label class="text-white form-label" for="state">Estado:</label>
    <input type="text" class="form-control" id="state" formControlName="state" placeholder="Digite o Estado" required>
    <div *ngIf="establishmentForm.get('state')?.invalid && establishmentForm.get('state')?.touched" class="text-danger">
      O estado é obrigatório.
    </div>
  </div>
</form>
<div class="d-flex justify-content-center mt-2 pb-2">
  <button (click)="onSubmit()" class="btn btn-primary">Cadastrar</button>
</div>
